.selectedPage {
    font-weight: bold;
}

.paginator {
    margin: 10px;
}
.paginator button{
    margin-top: 14px;
    padding: 10px 20px ;
    border: none; 
    border-radius: 5px; 
    font-family: sans-serif;
    letter-spacing: 1px;
    font-size: 16xp;
    color :#fff ; 
    background-color: #808080; 
    outline: none; 
    cursor: pointer; 
    transition: 0.3s; 
    margin-left: 5px;
}
.paginator button:focus,
.paginator button:hover{
         background-color: rgba(0, 113, 240, 0.7); 
 }


.pageNumber {
    padding: 2px;
    border: 1px solid grey;
    margin-left: 5px;
}
.pageNumber.selectedPage {
    font-weight: bold;
    border-color: black;
    background-color: darkgrey;
}