
.formControl .error input,
.formControl .error textarea {
    border: solid red 2px;
}

.formControl.error span {
    color: red;
}

.formSummaryError {
    border: red 1px solid;
    padding: 1px;
    color: red;
    
}

.form {
    margin: 0 auto;
    text-align: center;
    width: 300px; 
    padding: 32px;   
    border-radius: 10px; 
    box-shadow: 0 4px 16px #ccc; 
    font-family: sans-serif; 
    letter-spacing: 1px;
}
.form_button {
         margin-top: 14px;
         padding: 10px 20px ;
         border: none; 
         border-radius: 5px; 
         font-family: sans-serif;
         letter-spacing: 1px;
         font-size: 16xp;
         color :#fff ; 
         background-color: #808080; 
         outline: none; 
         cursor: pointer; 
         transition: 0.3s; 
}
.form_input{
         margin-top: 10px;
         width: 100%;
         padding: 0 0 10px 0;
         border: none; 
         border-bottom: 1px solid white;
         background-color: transparent; 
         outline: none;
         transition: 0.3s;
}
.form_button:focus,
.form_button:hover{
         background-color: rgba(0, 113, 240, 0.7); 
 }
 
 .form_input:focus {
    border-bottom: 1px solid #1a73a8;
}
 